extends layout

block content
  div(style="width: 65%; margin:auto;")
    h1= title
    p Welcome to #{title}! This is a site that doesn't care about your personal information.
      | You can use your Google account to log on and track your information. We don't keep any
      | of it for third party use.
