extends layout

block content
    div(style="width: 75%; margin: auto;")
        h2.w3-blue-grey
            | Exercise Info
        form.w3-container(action="/lifting/exercise" method="POST")
            div.w3-section
                label(for="exerciseName")
                    | Exercise Name:
                input(name="exerciseName" class="w3-input")
            div.w3-section
                label(for="weight")
                    | Weight: 
                input(name="weight" class="w3-input")
            div.w3-section
                label(for="sets")
                    | Sets: 
                input(name="sets" class="w3-input" type="number")
            div.w3-section
                label(for="reps")
                    | Reps: 
                input(name="reps" class="w3-input" type="number")
            input(class="w3-button w3-blue-grey" type="submit")